.container {
    max-width: 1320px;
}

.container-md {
    max-width: 720px;
}

.container-header {
    display: grid;
    grid-template-columns: 1fr 120px;
    align-items: center;
}

.tabela {
    min-height: 156px;
    margin-bottom: 15px;
    margin-top: 10px;
    @mixin configuracaoBase {
        display: grid;
        grid-template-columns: minmax(200px, 0.4fr) 1fr 1fr;
        grid-column-gap: 10px;
        padding-left: 10px;
        min-height: 35px;
        font-weight: 700;
        align-items: center;
    }
    .tabela__cabecalho {
        @include configuracaoBase;
        color: #fff;
        font-size: 16px;
    }
    .tabela__corpo {
        @include configuracaoBase;
        color: #222;
        font-size: 14px;
        border-bottom: 1px solid #222;
        &:nth-child(odd) {
            background-color: #ddd;
        }
    }
    .tabela__rodape {
        @include configuracaoBase;
        color: #111;
        font-size: 16px;
        background-color: #bfbfbf;
        border-bottom: 1px solid #222;
    }
}

.background-primary {
    background-color: var(--main-color-dark);
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;

    .form-footer {
        display: flex;
        justify-content: space-around;
    }
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form-label {
    display: block;
    margin: 4px;
    font-size: 14px;
    font-weight: 600;
}

.form-control {
    padding: 5px 10px;
    min-height: 22px;
    border-radius: 4px;
    border: 1px solid #ddd;
    &:focus {
        outline: var(--main-color-light);
        border-color: var(--main-color-light);
    }
}

.btn {
    min-height: 40px;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 95px;
}

.btn-cancel {
}

.btn-primary {
    background-color: var(--main-color-dark);
    color: #fff;
    &:hover {
        filter: brightness(0.5);
    }
}

.w-100 {
    width: 100%;
}

.p-20 {
    padding: 20px;
}
.p-l-5 {
    padding-left: 5px;
}

.main-color {
    color: var(--main-color);
}

.main-color-dark {
    color: var(--main-color-dark);
}

.main-color-light {
    color: var(--main-color-light);
}

.upper {
    text-transform: uppercase;
}

.f-bold {
    font-weight: 600;
}
