.container {
    max-width: 1320px;
}

.container-md {
    max-width: 720px;
}

.background-primary {
    background-color: var(--main-color-dark);
}

.background-light {
    background-color: var(--main-color-dark);
}

.color-primary {
    color: var(--main-color-dark);
}

.color-light {
    background-color: var(--main-color-dark);
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;

    .form-footer {
        display: flex;
        justify-content: space-around;
    }
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form-label {
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin: 6px 0px;
}

.form-control {
    padding: 5px 10px;
    min-height: 22px;
    border-radius: 4px;
    border: 1px solid #ddd;
    &:focus {
        outline: var(--main-color-light);
        border-color: var(--main-color-light);
    }
}

.btn {
    min-height: 40px;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 95px;
    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
        pointer-events: none;
    }
}

.btn-primary {
    background-color: var(--main-color-dark);
    color: #fff;
    &:hover {
        filter: brightness(0.5);
    }
}
.btn-outline {
    color: var(--main-color-dark);
    font-weight: bold;
    border: 1px solid var(--main-color-dark);
    background-color: transparent;
    transition: background-color 0.2s ease-in-out;
    &:hover {
        background-color: var(--main-color-dark);
        color: #fff;
    }
}

.btn-small {
    min-height: 30px;
    min-width: 45px;
}

.w-100 {
    width: 100%;
}

.p-20 {
    padding: 20px;
}
.p-l-5 {
    padding-left: 5px;
}

.main-color {
    color: var(--main-color);
}

.main-color-dark {
    color: var(--main-color-dark);
}

.main-color-light {
    color: var(--main-color-light);
}

.upper {
    text-transform: uppercase;
}

.f-bold {
    font-weight: 600;
}

.text-right {
    text-align: right;
}

.c-black {
    color: #222;
}

.cursor-pointer {
    cursor: pointer;
}

.f-16 {
    font-size: 16px;
}

.f-13 {
    font-size: 13px;
}

.f-11 {
    font-size: 11px;
}

.c-red {
    color: rgb(202, 44, 44);
}

.m-0 {
    margin: 0;
}

.m-r-5 {
    margin-right: 5px;
}

div.tooltip {
    margin-bottom: 15px;
    p {
        color: var(--main-color-dark);
        position: relative;
        font-weight: 600;
        font-size: 1.6rem;
        &::before {
            content: "";
            width: 40px;
            height: 6px;
            background-color: var(--main-color-dark);
            border-radius: 6px;
            position: absolute;
            top: -10px;
        }
    }
}

.formulario {
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 16px;
    min-height: 300px;

    label.form-label {
        color: #222;
    }
    .form-steps {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 15px;
    }
    div.form-footer {
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
        button {
            max-width: 190px;
            width: 100%;
        }
        span {
            color: var(--main-color-dark);
            font-size: 12px;
            font-weight: 600;
            margin-top: 4rem;
            display: block;
            cursor: pointer;
        }
    }
}

.card {
    padding: 10px 15px;
    border-radius: 10px;
    background-color: #fff;
    color: #333;
    margin: 2rem 1rem;
    .card__header {
        display: grid;
        grid-template-columns: 1fr 160px;
        align-items: center;
        .card__title {
            font-size: 18px;
            font-weight: bold;
            color: var(--main-color-dark);
            position: relative;
            &::before {
                content: "";
                width: 35px;
                height: 6px;
                background-color: var(--main-color-dark);
                border-radius: 6px;
                position: absolute;
                top: -10px;
            }
        }
        .card-header__actions {
            justify-self: flex-end;
        }
    }
}

.d-inline-block {
    display: inline-block;
}

.tabela-operacoes-mes {
    margin-top: 15px;
    margin-bottom: 15px;
    @mixin estilo-base {
        display: grid;
        grid-template-columns: 30px 1fr 0.45fr 120px;
        min-height: 30px;
        align-items: center;
        padding: 4px 8px;
    }
    .__cabecalho {
        @include estilo-base;
        color: #fff;
        background-color: var(--main-color-dark);
    }
    .__corpo {
        @include estilo-base;
    }
}

.table-actions {
    display: flex;
}

.m-l-25 {
    margin-left: 25px;
}

.m-r-25 {
    margin-right: 25px;
}

@media print {
    html,
    body {
        background: #fff !important;
    }
    .no-print {
        display: none !important;
        visibility: hidden !important;
    }
}
